<p>
  <strong>Club Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @club.website %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @club.contact %>
</p>

<h2>Sessions</h2>
<% @club.sessions.each do |session| %>
  <p>
    <strong>Day:</strong>
    <%= session.day_of_week %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= session.location_description %>
  </p>
<% end %>

<h2>Add a session:</h2>
<%= form_for([@club, @club.sessions.build]) do |f| %>
  <p>
    <%= f.label :day_of_week %><br>
    <%= f.text_field :day_of_week %>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_area :location_description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
