<%= form_for([@club, @club.sessions.build]) do |f| %>
  <p>
    <%= f.label :day_of_week %><br>
    <%= f.text_field :day_of_week %>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
