<div class="row">
  <div class="col-md-8">
    <div id="calendar"></div>
  </div><!-- end of calendar column-->

  <div class="col-md-4">
    <h2>Upcoming Sessions</h2>
    <br>
  <% @upcoming_events.each do |session| %>
    <tr>
      <h4><%= session.title %></h4>
      <h5><%= session.description %></h5>
      <h5><%= session.start_time %></h5>
      <h5><%= session.end_time %></h5>
      <p>
        <%= lat = session.location.location_lat %>
        <%= lng = session.location.location_lng %>
        <%= name = URI.escape(session.title) %>
        <%= link_to ("https://citymapper.com/directions?startcoord=51.501806%2C-0.140778&endcoord=#{lat}%2C#{lng}&endname=#{name}"), target: '_blank' do %>
          <%= image_tag("https://static.citymapper.com/img/embed/GetMeThere_Citymapper.png") %>
        <% end %>
      </p>
      <br>
    </tr>
  <% end %>
  </div>

</div><!-- end of row-->
