<div class="row">
  <div class="col-md-8">
    <div id="calendar"></div>
  </div><!-- end of calendar column-->

  <div class="col-md-4">
    <h2>Sessions Today</h2>
    <br>
  <% @events_today.each do |session| %>
    <tr>
      <h4><%= session.title %></h4>
      <h5><%= session.description %></h5>
      <h5><%= session.start_time %></h5>
      <h5><%= session.end_time %></h5>
      <p>
        <%= link_to ("https://citymapper.com/directions?endcoord=" + session.location.location_lat + "%2C" + session.location.location_lng), target: '_blank' do %>
          <%= image_tag("https://static.citymapper.com/img/embed/GetMeThere_Citymapper.png") %>
        <% end %>
      </p>
      <br>
    </tr>
  <% end %>
  </div>

</div><!-- end of row-->
